name: CI-CD for .NET App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v4

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Restore Dependencies
      run: dotnet restore

    - name: Build Application
      run: dotnet build --configuration Release --no-restore

    - name: Run Unit Tests
      run: dotnet test --no-build --verbosity normal

    - name: Publish Application
      run: dotnet publish -c Release -o ./publish

    - name: Deploy to IIS
      run: |
        xcopy ./publish "C:\inetpub\wwwroot\MyDotNetApp" /Y /E
        
    - name: Start IIS Website
      shell: cmd
      run: |
        %windir%\system32\inetsrv\appcmd start site "Default Web Site"